@model Employee
<h1>Employee Detail</h1>

<p>This is the detail of the employee.</p>


<ul class="list-group">
  <li class="list-group-item active" aria-current="true">First Name:@Model.FirstName</li>
  <li class="list-group-item active" aria-current="true">Last Name:@Model.LastName</li>
  <li class="list-group-item active" aria-current="true">Address:@Model.Address</li>
  <li class="list-group-item active" aria-current="true">Gender:@Model.Gender</li>
  <li class="list-group-item active" aria-current="true">Salary:@Model.Salary</li>
  
</ul>
